{% extends 'base.html' %}
{% load static %}

{% block title %} | About Us {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12">
              <h1 class="display-4">About accommodate.com</h1>
              <p class="lead"></p>
            </div>
          </div>
        </div>
      </section>
    
      <!-- Breadcrumb -->
      <section id="bc" class="mt-3">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'index' %}">
                  <i class="fas fa-home"></i> Home</a>
              </li>
              <li class="breadcrumb-item active"> About</li>
            </ol>
          </nav>
        </div>
      </section>
    
      <section id="about" class="py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>We Search For The Perfect Accommodation</h2>
              <p class="lead">We provide the best possible accommodation for students who stay far away from their homes and attend colleges in Mumbai and Navi mumbai regions.</p>
              <h2>Our Mission</h2>
              <p class="mt-4">To be number one choice for the engineering students in Mumbai to find their ideal accommodation near by theri respective educational institute. And also to be the number one choice for people or hostel owners nearby educational institutes trying to rent their properties to students </p>
            </div>
          </div>
        </div>
      </section>
    
      <!-- Work -->
      <section id="work" class="bg-dark text-white text-center">
        <h2 class="display-4">We Work For You</h2>
        <h5>We feature your listings for you. Just mail us the name, address, details of the property like number of bedrooms and bathrooms, some description,seller name, seller contact, monthly rent and some pictures and we will list your property within 24 hrs for the students to select it</h5>
        <hr>
        <a href="{% url 'listings' %}" class="btn btn-secondary text-white btn-lg">View Our Featured Listings</a>
      </section>
    
      <!-- Team -->
      <section id="team" class="py-5">
        <div class="container">
          <h2 class="text-center">Feature Your Own Property For Students</h2>
          <div class="row text-center">
            <div class="col-md-3">
              <h4>For Hostel Listings</h4>
              <h6>Siddhesh Unhavane</h6>
              <p class="text-success">
                <i class="text-success mb-3"></i>Contact Us</p>
              <hr>
              <p>
                <i class="fas fa-phone"></i>7738447337</p>
              <p>
                <i class="fas fa-envelope-open"></i>siddhesh.esskay.92@gmail.com</p>
            </div>
            <div class="col-md-3">
              <h4>For Renting Listings</h4>
              <h6>Gaurav Singh</h6>
              <p class="text-success">Contact Us</p>
              <hr>
              <p>
                <i class="fas fa-phone"></i>8976463357</p>
              <p>
                <i class="fas fa-envelope-open"></i>gaurav36singh@gmail.com</p>
            </div>
            <div class="col-md-3">
              <h4>#kat gaya</h4>
              <h6>Aadit Thanekar</h6>
              <p class="text-success">Contact Us</p>
              <hr>
              <p>
                <i class="fas fa-phone"></i>8698101739</p>
              <p>
                <i class="fas fa-envelope-open"></i>aadit.thanekar.07@gmail.com</p>
            </div>
            <div class="col-md-3">
              <h4>For further Queries</h4>
              <h6>Yadnesh Chikhale</h6>
              <p class="text-success">Contact Us</p>
              <hr>
              <p>
                <i class="fas fa-phone"></i>8419937392</p>
              <p>
                <i class="fas fa-envelope-open"></i>yadnesh1806@gmail.com</p>
            </div>
          </div>
        </div>
      </section>
{% endblock %} 